* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-blue: #00e6f6;
  --blue: #1f6cab;
  --hover-blue: #09508a;

  font-size: 62.5%; /*1rem = 10px*/
}

/*=================BODY=================*/

@media screen and (max-width: 480px) and (orientation: portrait) {
  html {
    max-width: 480px;
  }
}

body {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-image: radial-gradient(
      circle at top right,
      rgba(121, 68, 154, 0.13),
      transparent
    ),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  background-attachment: fixed;

  overflow-x: hidden;
}

/*=================HEADER=================*/

header img {
  display: block;

  margin-inline: auto;
  margin-top: 7rem;
  margin-bottom: 2.8rem;

  width: 10rem;
  height: 10rem;

  border-radius: 50%;
  border: 0.4rem solid var(--light-blue);

  background: none;

  padding: 0.4rem;
}

header {
  display: flex;

  flex-direction: column;

  text-align: center;
}

header h1 {
  color: var(--light-blue);

  display: flex;

  text-align: center;

  margin-bottom: 0.8rem;
  margin-inline: auto;

  font-family: Roboto;
  font-style: normal;
  font-size: 3.2rem;
}

header p {
  color: var(--blue);

  font-family: Roboto;
  font-size: 1.8rem;

  line-height: 150%;

  margin-bottom: 1.8rem;
}

/*======================CANVAS======================*/
canvas {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
}

/*======================BOX======================*/
.box {
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(400%);
  transition: transform 800ms ease;
}

.box :nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

/*=================LINKS=================*/

.social-links {
  display: block;

  justify-items: center;

  text-align: center;

  margin-bottom: 5rem;
}

.social-links li {
  margin-inline: auto;

  padding: 1.6rem 2rem;
}

.social-links li a {
  cursor: pointer;

  display: flex;
  flex-direction: row;

  justify-items: center;

  justify-content: space-evenly;

  margin-inline: auto;

  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  font-size: 1.4rem;

  line-height: 150%;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #e7e7e7;
  background: var(--blue);

  padding: 1.6rem 13rem;

  gap: 1.5rem;

  width: 1rem;
  height: 5rem;

  border-radius: 0.6rem;

  list-style-type: none;

  transition: background 700ms;
}

.social-links li a:hover {
  background-color: var(--hover-blue);
  color: #ffffff;
}
